{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} |
    {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}

    {% if user.is_authenticated == True %}
        <br>
        <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
        </h1>
        <hr>
        <br>
        <a href="{% url 'factura_scanner' %}">Factura por Scanner</a>

    {% else %}
        <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
    {% endif %}
{% endblock %}

{% block nav-global %}
{% endblock %}